<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="login-form">  
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <h2 class="text-center">Log In</h2>
            <div class="form-group">
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid", placeholder="Username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control", placeholder="Username") }}
                {% endif %}
                <!--input type="text" class="form-control" placeholder="Username" required="required"-->
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control", placeholder="Password") }}
                {% endif %}
                <!--input type="password" class="form-control" placeholder="Password" required="required"-->
            </div>
            <div class="form-group">
                {% if form.otp.errors %}
                    {{ form.otp(class="form-control is-invalid", placeholder="Newly Generated TOTP") }}
                    <div class="invalid-feedback">
                        {% for error in form.otp.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.otp(class="form-control", placeholder="Newly Generated TOTP") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.recaptcha.errors %}
                    {{ form.recaptcha }}
                    <div class="invalid-feedback">
                        {% for error in form.recaptcha.errors %}
                            <span>You must prove you are not a robot!</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.recaptcha }}
                {% endif %}
            </div>
            <div class="form-group">
                    {{ form.log_in(class="btn btn-primary btn-block") }}
                <!--button type="submit" class="btn btn-primary btn-block">Log in</button-->
            </div>
            <div class="clearfix">
                    {{ form.remember_me(class="form-check-input pull-left") }}
                    {{ form.remember_me.label(class="form-check-label pull-left checkbox-inline") }}
                <!--label class="pull-left checkbox-inline">Remember me</label-->
                <a href="{{ url_for('reset_request') }}" class="pull-right">Forgot Password?</a>
            </div>
        </form>
        <p class="text-center"><a href="{{ url_for('create_account') }}">Create an Account</a></p>
    </div>
</body>

</html>
