<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zendesk Product Security Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body> 
    <div class="login-form"> 
        <h2 class="text-center">You account has been reactivated!</h2>
        <p class="text-center">You can now <a href="{{ url_for('login') }}">login</a></p>
        <p class="text-center">You might want to consider <a href="{{ url_for('reset_request') }}">resetting your password</a></p>
    </div>
</body>

</html>
